<h2>{{#link "home" tag="button"}}Back {{/link}}{{firstname}} {{lastname}} {{#link "edit/{{id}}" tag="button" expand-tokens=true }} edit {{/link}}</h2>
<p><strong>Email:{{email}}</strong></p>
<p><strong>Phone:{{phone}}</strong></p>